/*Estilo Daniel*/
@import url('https://fonts.googleapis.com/css?family=Arizonia|Herr+Von+Muellerhoff|Montserrat:400,500i,600,600i,700,800,800i|Parisienne');
/*
    font-family: 'Arizonia', cursive;
    font-family: 'Parisienne', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Herr Von Muellerhoff', cursive;

*/
.frente{
  z-index: 2;
  width: 100%;
}
#menuPrincipal {
    margin-left: 20%;
}
.link-menu{
  color: #fff !important;
}
.logo{
  font-family: 'Parisienne', cursive;
  color: #fc84b4 !important;
  font-size: 25px;
}
.carousel {
    /*position: absolute;
    top: 0%;*/
    z-index: 1;
  }
  .dropdown-menu{
    background-color: transparent;
  }
  .dropdown-item:focus, .dropdown-item:hover {
    background-color: #FFA9FF;
  }
  /*.salon {
    position: relative;
    display: block;
    top: 750px;
  }*/
  .texto-slide{
    color: #FFF;
    background-color: rgba(0, 0, 0, .3);
    padding: 20px;
    width: 60%;
    border-radius: 5px;
    position: absolute;
    top: 75%;
    left: 35%;
    transform: translate(-50%, -50%);
    transition: .3s;
  }
  .texto-slide h5{
    font-family: 'Parisienne', cursive;
    color: #fc84b4;
    font-size: 80px;
    font-weight: 400;
    text-transform: none;
    line-height: 1em;
  }
  .texto-slide h1{
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 800;
    line-height: 0.84em;
  }
  .texto-slide button, .btn-saiba_mais{
    background-color: #fc84b4;
    color:#fff;
    font-family: "Montserrat", Sans-serif;
  }
  .texto-slide p{
    font-family: "Montserrat", Sans-serif;
  }
  .info-contato{
    background-color: #fc84b4;
    color: #fff;
  }
  .info-contato p{
    padding-top: 50px;
  }
  .copyright{
    background-color: #000;
    color: #fc0fc0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .copyright i{
    padding-right: 15px;
  }
  .carousel {
    position: relative;
    top: -65px;
}
.banner{
  position: relative;
  top: -65px;
}

  /*Fim Estilo Daniel*/

  /*Estilos kevin*/

.space-after-row{
  margin-bottom: 60px;
}

.card-fonte-cursiva{
  font-family: 'Arizonia', cursive;
  text-align:center; font-size:50px;
  color:#fc0fc0;
  margin: 0;
  padding: 30px 0 0 0;
  line-height: 10px;
}
.card-texto-cinza{
  color:gray;
  font-size:15px;
}
.card-texto-enorme{
  font-size: 40px;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1px;
}
.section-desconto{
  background-image: url('../img/beauty-salon-img7.jpg');
  /*position: relative;
  display: block;
  top: 820px;*/
}
.texto-section-grande{
  font-size:150px;
  font-weight:bolder;
  color: white;
  margin: 0;
  padding: 30px 0 0 0;
  line-height: 150px;
}
.botao-section{
  margin-bottom: 40px;
  margin-top: 20px;
  border-color: #fc84b4;
  background-color: #fc84b4;
  color: white;
  font-weight: bold;
}
/*.footer{
    position: relative;
    display: block;
    top: 820px;
}*/
.footer-contato{
  position: relative;
  display: block;
  top: 845px;
}
.section-contato{
  /*position: relative;
  display: block;
  top: 800px;*/
  padding: 0 25% 0 25%;
}
.titulo-contato{
   font-family: 'Arizonia', cursive;
   text-align:center;
   font-size:50px;
   color:black;
   line-height: 30px;
   margin-bottom: 25px;
}
  /*Fim estilos kevin*/


  /*Layane*/
  .titulo-sobre{
    font-family: 'Arizonia', cursive;
    font-size: 60px;
    color: black;
    text-align: center;
    padding: 15px;
  }
  .section-sobre p{
    text-align: justify;
    padding-right: 25px;
    padding-left: 25px;
  }
  .make h2{
  text-align: center;
  padding: 10px;
  font-size: 60px;
  font-family: 'Arizonia', cursive;
}
.make h3{
text-align: center;
padding: 05px;
font-size: 40px;
font-family: 'Arizonia', cursive;
}
.make p{
  text-align: justify;
  padding: 15px;
  font-family: "Montserrat", Sans-serif;
  font-size: 17px;
}

  /*Fim Layane*/
  @media screen and (max-width: 768px){
  .carousel {
    position: relative;
    top: 0px;
    margin-bottom: 15px;
  }
  .texto-slide h5{
  font-family: 'Parisienne', cursive;
  color: #fc84b4;
  font-size: 1.5em;
  font-weight: 400;
  text-transform: none;
  line-height: 1em;
  }
  .texto-slide h1{
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 800;
  line-height: 0.84em;
  }
  .texto-slide p {
  display: none;
  }
  .texto-slide button {
  width: 65%;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  }
  .texto-slide {
    top: 62%;
  }
  .space-after-row {
    margin-bottom: 15px;
  }
  .descontao p:first-child{
  font-size: 2.5em;
  line-height: 1.8rem;
  }
  .descontao p:nth-child(2){
  font-size: 2em;
  line-height: 1.8rem;
  }
  .section-contato{
   padding: 0 5% 0 5%;
  }
  .titulo-contato, .titulo-sobre{
     line-height: 35px;
     margin-bottom: 25px;
  }
  .banner{
    position: relative;
    top: 0px;
    margin-bottom: 15px;
  }
  .icones{
    display: none;
  }
  .logo{
    margin-right: 6rem;
  }
  }
