.navbar{
  margin: 20px 0px 10px 250px;
  z-index: 2;
}
.carousel {
    position: absolute;
    top: 0%;
    z-index: 1;
  }
  .dropdown-menu{
    background-color: transparent;
  }
  .dropdown-item:focus, .dropdown-item:hover {
    background-color: #FFA9FF;
  }
  .salon {
    position: relative;
    display: block;
    top: 750px;
  }
